<div id="register" class="wrapper-column tile register">
  <h1>Регистрация</h1>
  <app-text-input
    label="Логин"
    [(value)]="login"
    [login]="true"
  />
  <app-text-input
    label="Придумайте пароль"
    [(value)]="password"
    [password]="true"
  />
  <app-text-input
    label="Повторите пароль"
    [(value)]="repeatPassword"
    [password]="true"
    [noInsertion]="true"
  />
  <div class="wrapper-row registerLink">
    <app-button
      text="Зарегистрироваться"
      [onClick]="handleRegisterButtonClick"
    />
  </div>
</div>
