* {
    padding: 0px;
    margin: 0px;
    border: none;
}

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

body {
    margin: 0 auto;
    overflow-x: hidden;
}

h1 {
    color: white;
    font-size: 32px;
    font-weight: 400;
    line-height: 43.65px;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-inline: 56px;
    align-items: center;
    justify-content: space-between;
    p

{
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
}

}

svg {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}

.link-icons {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.header {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
}

.wrapper-main {
    position: relative;
    width: 100%;
    height: 640px;
}

.site-logo {
    position: absolute;
    top: 20px;
    left: 20px;
    padding-block: 21px;
    padding-inline: 12px;
    width: 95px;

}

.site-logo-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    img

{
    max-width: 100%;
    max-height: 100%;
}
}

.slider {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main-image {
    display: flex;
    transition: transform 0.5s ease;
    min-height: 100%;
    min-width: 100%;
}

.language-change {
    position: absolute;
    top: 43px;
    right: 20px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    p

{
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: right;
}

}

.arrowDown path {
    fill: white !important;
}

.arrowLeft, .arrowRight {
    display: none;
    position: absolute;
    top: 50%;
    width: 56px;
    height: 56px;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 100%;
    cursor: pointer;
    user-select: none;
    z-index: 1000;
}

.arrowLeft {
    left: 55px;
}

.arrowRight {
    right: 55px;
}

    .arrowLeft path, .arrowRight path {
        stroke: orange !important;
    }

.slide {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.image-list {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 4px;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 74px;
}

.container {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    width: 20px;
    height: 20px;
}

    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.container input:checked ~ .checkmark {
    border: 1px solid white;
}

    .container input:checked ~ .checkmark:after {
        width: 8px;
        height: 8px;
        background: white;
    }

.checkmark:after {
    content: "";
    position: absolute;
    display: block;
}

.container .checkmark:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: orange;
}

.language-select-wrapper {
    position: relative;
}

.language-select {
    position: absolute;
    top: 33px;
    right: 9px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding-inline: 16px;
    background-color: white;
}

.language-select-option {
    display: flex;
    z-index: 1000;
    margin-block: 8px;
    align-items: center;
    justify-content: center;
    p

{
    margin: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.1px;
    text-align: center;
    color: black;
}

}

.divider {
    width: 1px;
    height: 35px;
    background-color: lightgrey;
    align-self: center;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-block: 20px;
    max-width: 100%;
    justify-content: center;
    h2

{
    max-width: 320px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 600;
    line-height: 27.28px;
    text-align: center;
    color: black;
}

p {
    max-width: 320px;
    margin: 0 auto;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
}

}

.vk, .youtube, .telegram {
    cursor: pointer;
}

@media (min-width: 361px) and (max-width: 768px) {
    h1 {
        font-size: 40px;
        line-height: 54.56px;
    }

    footer {
        flex-direction: row;
        height: 115px;
        padding-inline: 40px 90px;
    }

    .wrapper-main {
        height: 710px;
    }

    .link-icons {
        gap: 24px;
    }

    .header {
        top: 50%;
        width: 511px;
    }

    .site-logo {
        top: 40px;
        left: 40px;
        padding-block: 28px;
        padding-inline: 16px;
        width: 121px;

}

.language-change {
    position: absolute;
    top: 73px;
    right: 40px;
}

.info {
    padding-block: 80px;
    h2

{
    max-width: 688px;
    font-size: 28px;
    line-height: 38.19px;
}

}

.image-list {
    bottom: 32px;
}

.arrowLeft, .arrowRight {
    display: flex;
    top: 72%;
}

}

@media (min-width: 769px) and (max-width: 1200px) {
    h1 {
        font-size: 48px;
        line-height: 65.47px;
    }

    footer {
        flex-direction: row;
        height: 132px;
        padding-inline: 135px;
        p

{
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
}

}

.wrapper-main {
    height: 800px;
}

.header {
    top: 46.5%;
    width: 740px;
}

.site-logo {
    top: 40px;
    left: 135px;
    padding-block: 34px;
    padding-inline: 20px;
    width: 148px;

}

.language-change {
    position: absolute;
    top: 83px;
    right: 135px;
}

.arrowLeft, .arrowRight {
    display: flex;
}

.info {
    padding-block: 96px;
    h2

{
    max-width: 930px;
    font-size: 32px;
    line-height: 43.65px;
}

p {
    max-width: 930px;
    font-size: 16px;
    line-height: 28px;
}

}

.image-list {
    bottom: 40px;
}

}

@media (min-width: 1201px) {
    h1 {
        color: white;
        font-size: 64px;
        font-weight: 400;
        line-height: 87.3px;
        text-align: center;
    }

    footer {
        flex-direction: row;
        height: 115px;
        padding-inline: 360px;
        p

{
    font-size: 16px;
    line-height: 24px;
}

}

svg {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}

.link-icons {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.header {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
}

.wrapper-main {
    position: relative;
    width: 100%;
    height: 1024px;
}

.site-logo {
    position: absolute;
    top: 48px;
    left: 208px;
    padding-block: 40px;
    padding-inline: 23px;
    background-color: white;
    width: 175px;

}

.language-change {
    position: absolute;
    top: 101px;
    right: 207px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: center;
    color: white;
}

.info {
    padding-block: 120px;
    h2

{
    max-width: 1200px;
    font-size: 48px;
    line-height: 65.47px;
}

p {
    max-width: 1200px;
    font-size: 18px;
    line-height: 32px;
}

}

.image-list {
    bottom: 74px;
}

.arrowLeft, .arrowRight {
    display: flex;
    width: 64px;
    height: 64px;
}
}
