<ng-container *ngIf="password || login; else inputRef">
  <div class="wrapper-column no-gap">
    <ng-container *ngIf="label">
      <p>{{label}}</p>
    </ng-container>
    <input
      type="{{password ? 'password' : 'text'}}"
      class="block login"
    >
  </div>
</ng-container>
<ng-template #inputRef>
  <div class="{{info ? 'wrapper-row height110' : 'wrapper-row'}}">
    <ng-container *ngIf="label">
      <p>{{label}}</p>
    </ng-container>
    <div class="wrapper-column no-gap margin240 {{info ? 'height110' : 'height32'}}">
      <div class="block {{info ? 'height110' : 'height32'}}">
      <textarea
        type="text"
        class="{{link ? 'icon-space' : ''}}"
        [(ngModel)]="value"
        [maxLength]="symbolLimit ? symbolLimit : 524288"
        (ngModelChange)="onValueChange($event)" >
      </textarea>
        <ng-container *ngIf="link">
          <div class="icon18 textarea-icon">
            <svg class="globe-icon" />
          </div>
        </ng-container>
      </div>
      <ng-container *ngIf="symbolLimit">
        <p class="placeholder small">Осталось символов: {{remaining()}}</p>
      </ng-container>
    </div>
  </div>
</ng-template>



