<app-header
  [contentPageData]="contentPageData"
  [designPageData]="designPageData"
/>
<div class="wrapper">
  <app-title [onClick]="handleClick" [(download)]="toDownload" />
  <app-site-creator
    [(contentPageData)]="contentPageData"
    [(designPageData)]="designPageData"
  />
</div>
<app-footer />
<app-popover
  [(isOpened)]="isPopoverOpened"
  [generateSite]="generateSite"
  [hostSite]="hostSite"
  [siteDownloadUrl]="siteDownloadUrl"
  [siteLoading]="siteLoading"
  [download]="toDownload"
/>
