<div class="wrapper">
  <app-tabs class="tabs" [activeTab]="currentPageNumber" (tabChange)="setCurrentPageNumber($event)" />
  <div class="page">
    <ng-container *ngIf="currentPageNumber == 0; else contentRef">
      <app-design *ngIf="designPageData && contentPageData" [(pageData)]="designPageData" [contentPageData]="contentPageData" (change)="onDesignChange()"/>
    </ng-container>
    <ng-template #contentRef>
      <app-content *ngIf="contentPageData" [(pageData)]="contentPageData" (change)="onContentChange()"/>
    </ng-template>
  </div>
</div>
