@import "../../../colors";

button {
  background: $ACCENT2_CALL_TO_ACTION;
  color: $LIGHT;
  padding-block: 9px;
  padding-inline: 30px;
  styleName: paragraph-normal;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;

  border-style: none;
  border-radius: 5px;
}

button:hover {
  background: $ACCENT2_CALL_TO_ACTION_DARK_1;
}

button:active {
  background: $ACCENT2_CALL_TO_ACTION_DARK_2;
}
