$PRIMARY: rgb(57, 81, 115);
$PRIMARY_LIGHT_1: rgb(77, 99, 129);
$PRIMARY_LIGHT_2: rgb(97, 116, 143);
$PRIMARY_LIGHT_3: rgb(117, 134, 157);
$PRIMARY_LIGHT_4: rgb(136, 151, 171);
$PRIMARY_LIGHT_5: rgb(156, 168, 185);
$PRIMARY_LIGHT_6: rgb(176, 185, 199);
$PRIMARY_LIGHT_7: rgb(196, 203, 213);
$PRIMARY_LIGHT_8: rgb(215, 220, 227);
$PRIMARY_LIGHT_9: rgb(236, 238, 241);
$PRIMARY_DARK_1: rgb(51, 73, 103);
$PRIMARY_DARK_2: rgb(46, 65, 92);
$PRIMARY_DARK_3: rgb(40, 57, 80);
$PRIMARY_DARK_4: rgb(34, 49, 69);
$PRIMARY_DARK_5: rgb(28, 40, 57);
$PRIMARY_DARK_6: rgb(23, 32, 46);
$PRIMARY_DARK_7: rgb(17, 24, 34);
$PRIMARY_DARK_8: rgb(11, 16, 23);
$PRIMARY_DARK_9: rgb(6, 8, 11);
$LIGHT: rgb(255, 255, 255);
$DARK: rgb(0, 0, 0);
$DARK_LIGHT_1: rgb(25, 25, 25);
$DARK_LIGHT_2: rgb(51, 51, 51);
$DARK_LIGHT_3: rgb(76, 76, 76);
$DARK_LIGHT_4: rgb(102, 102, 102);
$DARK_LIGHT_5: rgb(127, 127, 127);
$DARK_LIGHT_6: rgb(153, 153, 153);
$DARK_LIGHT_7: rgb(178, 178, 178);
$DARK_LIGHT_8: rgb(204, 204, 204);
$DARK_LIGHT_9: rgb(229, 229, 229);
$ACCENT3: rgb(25, 164, 149);
$ACCENT3_LIGHT_1: rgb(48, 173, 160);
$ACCENT3_LIGHT_2: rgb(71, 182, 170);
$ACCENT3_LIGHT_3: rgb(94, 191, 181);
$ACCENT3_LIGHT_4: rgb(117, 200, 191);
$ACCENT3_LIGHT_5: rgb(140, 210, 202);
$ACCENT3_LIGHT_6: rgb(163, 219, 213);
$ACCENT3_LIGHT_7: rgb(186, 228, 223);
$ACCENT3_LIGHT_8: rgb(209, 237, 234);
$ACCENT3_LIGHT_9: rgb(232, 246, 245);
$ACCENT3_DARK_1: rgb(22, 147, 134);
$ACCENT3_DARK_2: rgb(20, 131, 119);
$ACCENT3_DARK_3: rgb(17, 114, 104);
$ACCENT3_DARK_4: rgb(15, 98, 89);
$ACCENT3_DARK_5: rgb(12, 82, 74);
$ACCENT3_DARK_6: rgb(10, 66, 60);
$ACCENT3_DARK_7: rgb(7, 49, 44);
$ACCENT3_DARK_8: rgb(5, 33, 30);
$ACCENT3_DARK_9: rgb(2, 16, 15);
$ACCENT4: rgb(255, 217, 46);
$ACCENT4_LIGHT_1: rgb(255, 221, 67);
$ACCENT4_LIGHT_2: rgb(255, 225, 88);
$ACCENT4_LIGHT_3: rgb(255, 228, 109);
$ACCENT4_LIGHT_4: rgb(255, 232, 130);
$ACCENT4_LIGHT_5: rgb(255, 236, 151);
$ACCENT4_LIGHT_6: rgb(255, 240, 171);
$ACCENT4_LIGHT_7: rgb(255, 244, 193);
$ACCENT4_LIGHT_8: rgb(255, 247, 213);
$ACCENT4_LIGHT_9: rgb(255, 251, 235);
$ACCENT4_DARK_1: rgb(229, 195, 41);
$ACCENT4_DARK_2: rgb(204, 174, 37);
$ACCENT4_DARK_3: rgb(178, 151, 32);
$ACCENT4_DARK_4: rgb(153, 130, 28);
$ACCENT4_DARK_5: rgb(127, 108, 23);
$ACCENT4_DARK_6: rgb(102, 87, 18);
$ACCENT4_DARK_7: rgb(76, 65, 14);
$ACCENT4_DARK_8: rgb(51, 43, 9);
$ACCENT4_DARK_9: rgb(25, 21, 5);
$ACCENT5: rgb(213, 33, 88);
$ACCENT5_LIGHT_1: rgb(217, 56, 105);
$ACCENT5_LIGHT_2: rgb(221, 77, 121);
$ACCENT5_LIGHT_3: rgb(226, 100, 138);
$ACCENT5_LIGHT_4: rgb(230, 122, 155);
$ACCENT5_LIGHT_5: rgb(234, 144, 172);
$ACCENT5_LIGHT_6: rgb(238, 166, 188);
$ACCENT5_LIGHT_7: rgb(242, 189, 205);
$ACCENT5_LIGHT_8: rgb(247, 211, 222);
$ACCENT5_LIGHT_9: rgb(251, 233, 239);
$ACCENT5_DARK_1: rgb(191, 30, 79);
$ACCENT5_DARK_2: rgb(170, 26, 70);
$ACCENT5_DARK_3: rgb(149, 23, 61);
$ACCENT5_DARK_4: rgb(128, 20, 53);
$ACCENT5_DARK_5: rgb(106, 16, 44);
$ACCENT5_DARK_6: rgb(85, 13, 35);
$ACCENT5_DARK_7: rgb(63, 10, 26);
$ACCENT5_DARK_8: rgb(43, 7, 18);
$ACCENT5_DARK_9: rgb(21, 3, 9);
$ACCENT9: rgb(153, 50, 171);
$ACCENT9_LIGHT_1: rgb(163, 71, 180);
$ACCENT9_LIGHT_2: rgb(173, 91, 188);
$ACCENT9_LIGHT_3: rgb(184, 112, 196);
$ACCENT9_LIGHT_4: rgb(194, 132, 205);
$ACCENT9_LIGHT_5: rgb(204, 153, 213);
$ACCENT9_LIGHT_6: rgb(214, 173, 221);
$ACCENT9_LIGHT_7: rgb(225, 194, 230);
$ACCENT9_LIGHT_8: rgb(235, 214, 238);
$ACCENT9_LIGHT_9: rgb(245, 235, 247);
$ACCENT9_DARK_1: rgb(137, 45, 154);
$ACCENT9_DARK_2: rgb(122, 40, 137);
$ACCENT9_DARK_3: rgb(107, 35, 119);
$ACCENT9_DARK_4: rgb(92, 30, 103);
$ACCENT9_DARK_5: rgb(76, 25, 85);
$ACCENT9_DARK_6: rgb(61, 20, 68);
$ACCENT9_DARK_7: rgb(46, 15, 51);
$ACCENT9_DARK_8: rgb(31, 10, 34);
$ACCENT9_DARK_9: rgb(15, 5, 17);
$ACCENT10: rgb(26, 185, 245);
$ACCENT10_LIGHT_1: rgb(49, 192, 246);
$ACCENT10_LIGHT_2: rgb(72, 199, 247);
$ACCENT10_LIGHT_3: rgb(95, 206, 248);
$ACCENT10_LIGHT_4: rgb(118, 213, 249);
$ACCENT10_LIGHT_5: rgb(141, 220, 250);
$ACCENT10_LIGHT_6: rgb(163, 227, 251);
$ACCENT10_LIGHT_7: rgb(187, 234, 252);
$ACCENT10_LIGHT_8: rgb(209, 241, 253);
$ACCENT10_LIGHT_9: rgb(233, 248, 254);
$ACCENT10_DARK_1: rgb(23, 166, 220);
$ACCENT10_DARK_2: rgb(21, 148, 196);
$ACCENT10_DARK_3: rgb(18, 129, 171);
$ACCENT10_DARK_4: rgb(16, 111, 147);
$ACCENT10_DARK_5: rgb(13, 92, 122);
$ACCENT10_DARK_6: rgb(10, 74, 98);
$ACCENT10_DARK_7: rgb(8, 55, 73);
$ACCENT10_DARK_8: rgb(5, 37, 49);
$ACCENT10_DARK_9: rgb(3, 18, 24);
$ACCENT11: rgb(139, 191, 86);
$ACCENT11_LIGHT_1: rgb(151, 198, 103);
$ACCENT11_LIGHT_2: rgb(162, 204, 120);
$ACCENT11_LIGHT_3: rgb(174, 210, 137);
$ACCENT11_LIGHT_4: rgb(185, 217, 154);
$ACCENT11_LIGHT_5: rgb(197, 223, 171);
$ACCENT11_LIGHT_6: rgb(209, 229, 187);
$ACCENT11_LIGHT_7: rgb(220, 236, 205);
$ACCENT11_LIGHT_8: rgb(232, 242, 221);
$ACCENT11_LIGHT_9: rgb(244, 249, 238);
$ACCENT11_DARK_1: rgb(125, 172, 77);
$ACCENT11_DARK_2: rgb(111, 153, 69);
$ACCENT11_DARK_3: rgb(97, 133, 60);
$ACCENT11_DARK_4: rgb(83, 115, 52);
$ACCENT11_DARK_5: rgb(69, 95, 43);
$ACCENT11_DARK_6: rgb(56, 76, 34);
$ACCENT11_DARK_7: rgb(41, 57, 26);
$ACCENT11_DARK_8: rgb(28, 38, 17);
$ACCENT11_DARK_9: rgb(14, 19, 8);
$ACCENT12: rgb(253, 149, 44);
$ACCENT12_LIGHT_1: rgb(253, 160, 66);
$ACCENT12_LIGHT_2: rgb(253, 170, 86);
$ACCENT12_LIGHT_3: rgb(254, 181, 108);
$ACCENT12_LIGHT_4: rgb(254, 191, 128);
$ACCENT12_LIGHT_5: rgb(254, 202, 150);
$ACCENT12_LIGHT_6: rgb(254, 213, 171);
$ACCENT12_LIGHT_7: rgb(254, 223, 192);
$ACCENT12_LIGHT_8: rgb(255, 234, 213);
$ACCENT12_LIGHT_9: rgb(255, 245, 234);
$ACCENT12_DARK_1: rgb(227, 134, 40);
$ACCENT12_DARK_2: rgb(202, 119, 35);
$ACCENT12_DARK_3: rgb(177, 104, 31);
$ACCENT12_DARK_4: rgb(152, 89, 26);
$ACCENT12_DARK_5: rgb(126, 74, 22);
$ACCENT12_DARK_6: rgb(101, 60, 18);
$ACCENT12_DARK_7: rgb(75, 44, 13);
$ACCENT12_DARK_8: rgb(51, 30, 9);
$ACCENT12_DARK_9: rgb(25, 15, 4);
$ACCENT13: rgb(102, 66, 178);
$ACCENT13_LIGHT_1: rgb(118, 85, 186);
$ACCENT13_LIGHT_2: rgb(133, 104, 193);
$ACCENT13_LIGHT_3: rgb(148, 123, 201);
$ACCENT13_LIGHT_4: rgb(163, 142, 209);
$ACCENT13_LIGHT_5: rgb(179, 161, 217);
$ACCENT13_LIGHT_6: rgb(194, 179, 224);
$ACCENT13_LIGHT_7: rgb(209, 199, 232);
$ACCENT13_LIGHT_8: rgb(224, 217, 240);
$ACCENT13_LIGHT_9: rgb(240, 236, 247);
$ACCENT13_DARK_1: rgb(92, 59, 160);
$ACCENT13_DARK_2: rgb(82, 53, 142);
$ACCENT13_DARK_3: rgb(71, 46, 124);
$ACCENT13_DARK_4: rgb(61, 40, 107);
$ACCENT13_DARK_5: rgb(51, 33, 89);
$ACCENT13_DARK_6: rgb(41, 26, 71);
$ACCENT13_DARK_7: rgb(30, 20, 53);
$ACCENT13_DARK_8: rgb(20, 13, 36);
$ACCENT13_DARK_9: rgb(10, 6, 17);
$ACCENT14: rgb(26, 180, 201);
$ACCENT14_LIGHT_1: rgb(49, 188, 207);
$ACCENT14_LIGHT_2: rgb(72, 195, 212);
$ACCENT14_LIGHT_3: rgb(95, 203, 217);
$ACCENT14_LIGHT_4: rgb(118, 210, 223);
$ACCENT14_LIGHT_5: rgb(141, 218, 228);
$ACCENT14_LIGHT_6: rgb(163, 225, 233);
$ACCENT14_LIGHT_7: rgb(187, 233, 239);
$ACCENT14_LIGHT_8: rgb(209, 240, 244);
$ACCENT14_LIGHT_9: rgb(233, 248, 250);
$ACCENT14_DARK_1: rgb(23, 162, 181);
$ACCENT14_DARK_2: rgb(21, 144, 161);
$ACCENT14_DARK_3: rgb(18, 126, 140);
$ACCENT14_DARK_4: rgb(16, 108, 121);
$ACCENT14_DARK_5: rgb(13, 90, 100);
$ACCENT14_DARK_6: rgb(10, 72, 80);
$ACCENT14_DARK_7: rgb(8, 54, 60);
$ACCENT14_DARK_8: rgb(5, 36, 40);
$ACCENT14_DARK_9: rgb(3, 18, 20);
$ACCENT15: rgb(203, 216, 79);
$ACCENT15_LIGHT_1: rgb(208, 220, 97);
$ACCENT15_LIGHT_2: rgb(213, 224, 114);
$ACCENT15_LIGHT_3: rgb(219, 228, 132);
$ACCENT15_LIGHT_4: rgb(224, 232, 149);
$ACCENT15_LIGHT_5: rgb(229, 236, 167);
$ACCENT15_LIGHT_6: rgb(234, 239, 185);
$ACCENT15_LIGHT_7: rgb(240, 243, 203);
$ACCENT15_LIGHT_8: rgb(245, 247, 220);
$ACCENT15_LIGHT_9: rgb(250, 251, 238);
$ACCENT15_DARK_1: rgb(182, 194, 71);
$ACCENT15_DARK_2: rgb(162, 173, 63);
$ACCENT15_DARK_3: rgb(142, 151, 55);
$ACCENT15_DARK_4: rgb(122, 130, 47);
$ACCENT15_DARK_5: rgb(101, 108, 39);
$ACCENT15_DARK_6: rgb(81, 86, 32);
$ACCENT15_DARK_7: rgb(61, 64, 24);
$ACCENT15_DARK_8: rgb(41, 43, 16);
$ACCENT15_DARK_9: rgb(20, 21, 8);
$ACCENT16: rgb(252, 86, 48);
$ACCENT16_LIGHT_1: rgb(252, 103, 69);
$ACCENT16_LIGHT_2: rgb(253, 120, 89);
$ACCENT16_LIGHT_3: rgb(253, 137, 111);
$ACCENT16_LIGHT_4: rgb(253, 154, 131);
$ACCENT16_LIGHT_5: rgb(254, 171, 152);
$ACCENT16_LIGHT_6: rgb(254, 187, 172);
$ACCENT16_LIGHT_7: rgb(254, 205, 193);
$ACCENT16_LIGHT_8: rgb(254, 221, 214);
$ACCENT16_LIGHT_9: rgb(255, 238, 235);
$ACCENT16_DARK_1: rgb(226, 77, 43);
$ACCENT16_DARK_2: rgb(202, 69, 38);
$ACCENT16_DARK_3: rgb(176, 60, 34);
$ACCENT16_DARK_4: rgb(151, 52, 29);
$ACCENT16_DARK_5: rgb(126, 43, 24);
$ACCENT16_DARK_6: rgb(101, 34, 19);
$ACCENT16_DARK_7: rgb(75, 26, 14);
$ACCENT16_DARK_8: rgb(50, 17, 10);
$ACCENT16_DARK_9: rgb(25, 8, 5);
$ACCENT1_DANGER: rgb(232, 0, 0);
$ACCENT1_DANGER_LIGHT_1: rgb(234, 26, 26);
$ACCENT1_DANGER_LIGHT_2: rgb(237, 51, 51);
$ACCENT1_DANGER_LIGHT_3: rgb(239, 77, 77);
$ACCENT1_DANGER_LIGHT_4: rgb(241, 102, 102);
$ACCENT1_DANGER_LIGHT_5: rgb(244, 128, 128);
$ACCENT1_DANGER_LIGHT_6: rgb(246, 153, 153);
$ACCENT1_DANGER_LIGHT_7: rgb(248, 179, 179);
$ACCENT1_DANGER_LIGHT_8: rgb(250, 204, 204);
$ACCENT1_DANGER_LIGHT_9: rgb(253, 230, 230);
$ACCENT1_DANGER_DARK_1: rgb(208, 0, 0);
$ACCENT1_DANGER_DARK_2: rgb(186, 0, 0);
$ACCENT1_DANGER_DARK_3: rgb(162, 0, 0);
$ACCENT1_DANGER_DARK_4: rgb(139, 0, 0);
$ACCENT1_DANGER_DARK_5: rgb(116, 0, 0);
$ACCENT1_DANGER_DARK_6: rgb(93, 0, 0);
$ACCENT1_DANGER_DARK_7: rgb(69, 0, 0);
$ACCENT1_DANGER_DARK_8: rgb(46, 0, 0);
$ACCENT1_DANGER_DARK_9: rgb(23, 0, 0);
$ACCENT2_CALL_TO_ACTION: rgb(41, 109, 194);
$ACCENT2_CALL_TO_ACTION_LIGHT_1: rgb(63, 124, 200);
$ACCENT2_CALL_TO_ACTION_LIGHT_2: rgb(84, 138, 206);
$ACCENT2_CALL_TO_ACTION_LIGHT_3: rgb(106, 153, 212);
$ACCENT2_CALL_TO_ACTION_LIGHT_4: rgb(127, 167, 218);
$ACCENT2_CALL_TO_ACTION_LIGHT_5: rgb(148, 182, 225);
$ACCENT2_CALL_TO_ACTION_LIGHT_6: rgb(169, 197, 231);
$ACCENT2_CALL_TO_ACTION_LIGHT_7: rgb(191, 211, 237);
$ACCENT2_CALL_TO_ACTION_LIGHT_8: rgb(212, 226, 243);
$ACCENT2_CALL_TO_ACTION_LIGHT_9: rgb(234, 241, 249);
$ACCENT2_CALL_TO_ACTION_DARK_1: rgb(37, 98, 174);
$ACCENT2_CALL_TO_ACTION_DARK_2: rgb(33, 87, 155);
$ACCENT2_CALL_TO_ACTION_DARK_3: rgb(29, 76, 135);
$ACCENT2_CALL_TO_ACTION_DARK_4: rgb(25, 65, 116);
$ACCENT2_CALL_TO_ACTION_DARK_5: rgb(20, 54, 97);
$ACCENT2_CALL_TO_ACTION_DARK_6: rgb(16, 44, 78);
$ACCENT2_CALL_TO_ACTION_DARK_7: rgb(12, 32, 58);
$ACCENT2_CALL_TO_ACTION_DARK_8: rgb(8, 22, 39);
$ACCENT2_CALL_TO_ACTION_DARK_9: rgb(4, 11, 19);
$ACCENT6_INFO: rgb(41, 151, 238);
$ACCENT6_INFO_LIGHT_1: rgb(63, 162, 240);
$ACCENT6_INFO_LIGHT_2: rgb(84, 172, 241);
$ACCENT6_INFO_LIGHT_3: rgb(106, 182, 243);
$ACCENT6_INFO_LIGHT_4: rgb(127, 193, 245);
$ACCENT6_INFO_LIGHT_5: rgb(148, 203, 247);
$ACCENT6_INFO_LIGHT_6: rgb(169, 213, 248);
$ACCENT6_INFO_LIGHT_7: rgb(191, 224, 250);
$ACCENT6_INFO_LIGHT_8: rgb(212, 234, 252);
$ACCENT6_INFO_LIGHT_9: rgb(234, 245, 253);
$ACCENT6_INFO_DARK_1: rgb(37, 136, 214);
$ACCENT6_INFO_DARK_2: rgb(33, 121, 190);
$ACCENT6_INFO_DARK_3: rgb(29, 105, 166);
$ACCENT6_INFO_DARK_4: rgb(25, 91, 143);
$ACCENT6_INFO_DARK_5: rgb(20, 75, 119);
$ACCENT6_INFO_DARK_6: rgb(16, 60, 95);
$ACCENT6_INFO_DARK_7: rgb(12, 45, 71);
$ACCENT6_INFO_DARK_8: rgb(8, 30, 48);
$ACCENT6_INFO_DARK_9: rgb(4, 15, 23);
$ACCENT7_SUCCESS: rgb(80, 172, 88);
$ACCENT7_SUCCESS_LIGHT_1: rgb(98, 180, 105);
$ACCENT7_SUCCESS_LIGHT_2: rgb(115, 189, 121);
$ACCENT7_SUCCESS_LIGHT_3: rgb(133, 197, 138);
$ACCENT7_SUCCESS_LIGHT_4: rgb(150, 205, 155);
$ACCENT7_SUCCESS_LIGHT_5: rgb(168, 214, 172);
$ACCENT7_SUCCESS_LIGHT_6: rgb(185, 222, 188);
$ACCENT7_SUCCESS_LIGHT_7: rgb(203, 230, 205);
$ACCENT7_SUCCESS_LIGHT_8: rgb(220, 238, 222);
$ACCENT7_SUCCESS_LIGHT_9: rgb(238, 247, 239);
$ACCENT7_SUCCESS_DARK_1: rgb(72, 154, 79);
$ACCENT7_SUCCESS_DARK_2: rgb(64, 138, 70);
$ACCENT7_SUCCESS_DARK_3: rgb(56, 120, 61);
$ACCENT7_SUCCESS_DARK_4: rgb(48, 103, 53);
$ACCENT7_SUCCESS_DARK_5: rgb(40, 86, 44);
$ACCENT7_SUCCESS_DARK_6: rgb(32, 69, 35);
$ACCENT7_SUCCESS_DARK_7: rgb(24, 51, 26);
$ACCENT7_SUCCESS_DARK_8: rgb(16, 34, 18);
$ACCENT7_SUCCESS_DARK_9: rgb(8, 17, 9);
$ACCENT8_WARNING: rgb(253, 190, 54);
$ACCENT8_WARNING_LIGHT_1: rgb(253, 197, 74);
$ACCENT8_WARNING_LIGHT_2: rgb(253, 203, 94);
$ACCENT8_WARNING_LIGHT_3: rgb(254, 210, 115);
$ACCENT8_WARNING_LIGHT_4: rgb(254, 216, 134);
$ACCENT8_WARNING_LIGHT_5: rgb(254, 223, 155);
$ACCENT8_WARNING_LIGHT_6: rgb(254, 229, 175);
$ACCENT8_WARNING_LIGHT_7: rgb(254, 236, 195);
$ACCENT8_WARNING_LIGHT_8: rgb(255, 242, 215);
$ACCENT8_WARNING_LIGHT_9: rgb(255, 249, 235);
$ACCENT8_WARNING_DARK_1: rgb(227, 171, 48);
$ACCENT8_WARNING_DARK_2: rgb(202, 152, 43);
$ACCENT8_WARNING_DARK_3: rgb(177, 133, 38);
$ACCENT8_WARNING_DARK_4: rgb(152, 114, 32);
$ACCENT8_WARNING_DARK_5: rgb(126, 95, 27);
$ACCENT8_WARNING_DARK_6: rgb(101, 76, 22);
$ACCENT8_WARNING_DARK_7: rgb(75, 57, 16);
$ACCENT8_WARNING_DARK_8: rgb(51, 38, 11);
$ACCENT8_WARNING_DARK_9: rgb(25, 19, 5);
