<div class="wrapper-column">
  <div class="tile tile-first">
    <h3>Оформление сайта</h3>
    <hr />
    <div class="wrapper-row">
      <div class="wrapper-column">
        <div class="color-scheme">
          <app-select
            id="colorScheme"
            [options]="ColorSchemes"
            [(value)]="pageData.colorSchemeName"
            placeholder="Цветовая схема"
            (change)="onDataChange()"
          />
        </div>
        <hr />
        <div class="color-picker-group gap10">
          <p>Цвет фона</p>
          <app-color-picker [(color)]="pageData.backgroundColors.main" text="Основной" (colorChange)="onDataChange()"/>
          <app-color-picker [(color)]="pageData.backgroundColors.additional" text="Дополнительный" (colorChange)="onDataChange()"/>
          <app-color-picker [(color)]="pageData.backgroundColors.translucent" text="Полупрозрачный" (colorChange)="onDataChange()"/>
          <app-color-picker [(color)]="pageData.backgroundColors.navigation" text="Навигация и декор" (colorChange)="onDataChange()"/>
        </div>
        <hr />
        <div class="color-picker-group gap10">
          <p>Цвет текстов</p>
          <app-color-picker [(color)]="pageData.textColors.main" text="На основном фоне" (colorChange)="onDataChange()"/>
          <app-color-picker [(color)]="pageData.textColors.additional" text="На дополнительном" (colorChange)="onDataChange()"/>
          <app-color-picker [(color)]="pageData.textColors.translucent" text="На полупрозрачном" (colorChange)="onDataChange()"/>
          <app-color-picker [(color)]="pageData.textColors.accent" text="На акцентном фоне" (colorChange)="onDataChange()"/>
        </div>
        <hr />
        <app-select
          placeholder="Шрифт заголовков"
          [options]="selectFontOptions"
          [(value)]="pageData.headersFont"
          (change)="onDataChange()"
        />
        <app-select
          placeholder="Шрифт основного текста"
          [options]="selectFontOptions"
          [(value)]="pageData.mainTextFont"
          (change)="onDataChange()"
        />
      </div>
      <div class="preview">
        <div class="icon64">
          <svg class="preview-img" />
        </div>
        <h4>Template preview</h4>
      </div>
    </div>
  </div>
  <div class="tile wrapper-column">
      <h3>Логотип</h3>
      <hr />
      <app-alert
        text="Рекомендовано загружать логотип на прозрачном фоне. Максимальный размер изображения 2 МБ. Поддерживаются форматы изображений JPG, PNG и GIF."
      />
      <app-image-loader
        label="Загрузка логотипа"
        type="logo"
        [(imagePreviews)]="pageData.logoSrc"
        (change)="onDataChange()"
      />
      <div class="wrapper-row center">
        <p>Цвет фона логотипа</p>
        <div class="margin193">
          <app-color-picker [(color)]="Colors.LIGHT" (colorChange)="onDataChange()"/>
          <app-checkbox
            placeholder="Убрать фон под логотипом"
            [(value)]="pageData.removeLogoBackground"
            (change)="onDataChange()"
          />
        </div>
      </div>
  </div>
  <div class="tile wrapper-column">
    <h3>Favicon</h3>
    <hr />
    <app-alert
      text="Favicon - это небольшой значок, отображающийся рядом с названием сайта в окне браузера или в выдаче поисковика. Размер изображения 32x32 пикселей, поддерживаются форматы PNG, GIF, JPG."
    />
    <app-image-loader
      label="Загрузка иконки"
      type="favicon"
      [(imagePreviews)]="pageData.faviconSrc"
      (imagePreviewsChange)="onDataChange()"
    />
  </div>
</div>

